# Perform the following analysis on the provided file "demo.csv".


## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame

   outputs: str
   
   
## 2. What is the mean salary is the state KS

   function name: mean_ks_salary()
   
   inputs: DataFrame

   outputs: float
   
   
## 3. Which Region has highest mean salary

   function name: max_mean_salary_region()

   inputs: DataFrame

   outputs: str
   
   
## 4. Which region has lowest mean salary

   function name: min_mean_salary_region()

   inputs: DataFrame

   outputs: str
   
   
## 5. Which City has highest mean weight

   function name: max_mean_weight_city()

   inputs: DataFrame

   outputs: str
   
   
## 6. What is the difference between mean salary of Doctors and Professors

   function name: dr_prof_mean_salary_diff()

   inputs: DataFrame

   outputs: float
   
   
## 7. How many female use yahoo

   function name: females_with_yahoo()

   inputs: DataFrame

   outputs: int
   
   
## 8. How many Doctors use gmail

   function name: doctors_with_gmail()

   inputs: DataFrame

   outputs: int
   
   
## 9. What is the password of the youngest male

   function name: youngest_male_password()

   inputs: DataFrame

   outputs: str

In [9]:
import pandas as pd
import calendar

In [4]:
df= pd.read_csv('/content/demo.csv')
#print(df)
df.head(5)

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln
2,412317,Drs.,Elisabeth,W,Foster,F,elisabeth.foster@gmail.com,Irwin Foster,Janie Foster,Delaney,...,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,F,briana.lancaster@yahoo.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,...,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,Midwest,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,F,estella.potter@gmail.com,Booker Potter,Katelyn Potter,Pate,...,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,West,elpotter,j4jkEXfC&Rh

In [5]:
print(df['Month of Joining'])

0      12
1       4
2       3
3       2
4      10
       ..
995     1
996     3
997     2
998     3
999     1
Name: Month of Joining, Length: 1000, dtype: int64

## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame

   outputs: str

In [39]:
def max_joinings_month(df):
    joining = df.groupby("Month of Joining").count().reset_index()
    result = joining.sort_values(by="Emp ID", ascending=False)
    max_month_number = result["Month of Joining"].iloc[0]
    max_month_name = calendar.month_name[max_month_number]
    return max_month_name

print("Month of Joining:", max_joinings_month(df))

Month of Joining: April

## 2. What is the mean salary is the state KS

   function name: mean_ks_salary()
   
   inputs: DataFrame

   outputs: float

In [47]:
def mean_ks_salary(df):
    # your code here
    mean = df[df["State"] == "KS"]["Salary"].mean()
    return mean

result = mean_ks_salary(df)
print(result)

104225.45454545454

## 3. Which Region has highest mean salary

   function name: max_mean_salary_region()

   inputs: DataFrame

   outputs: str

In [48]:
def max_mean_salary_region(df):
  mean= df.groupby("Region")["Salary"].mean().reset_index()
  highest= mean["Region"][0]
  return highest

result = max_mean_salary_region(df)
print(result)

Midwest

## 4. Which region has lowest mean salary

   function name: min_mean_salary_region()

   inputs: DataFrame

   outputs: str

In [49]:
def min_mean_salary_region(df):
  mean= df.groupby("Region")["Salary"].mean().reset_index()
  highest= mean["Region"][len( mean)-1]
  return highest

result =  min_mean_salary_region(df)
print(result)

West

## 5. Which City has highest mean weight

   function name: max_mean_weight_city()

   inputs: DataFrame

   outputs: str

In [51]:
def max_mean_weight_city(df):
    mean_weight_by_city = df.groupby("City")["Weight in Kgs."].mean().reset_index()
    max_mean_weight_city = mean_weight_by_city.loc[mean_weight_by_city["Weight in Kgs."].idxmax(), "City"]
    return max_mean_weight_city

result = max_mean_weight_city(df)
print(result)

Conroe

## 6. What is the difference between mean salary of Doctors and Professors

   function name: dr_prof_mean_salary_diff()

   inputs: DataFrame

   outputs: float

In [44]:
def dr_prof_mean_salary_diff(df):
    # Filter rows for doctors and professors separately
    doctors_df = df[df["Name Prefix"].isin(["Dr.", "Drs."])]
    professors_df = df[df["Name Prefix"] == "Prof."]
    # Calculate the mean salary for doctors and professors
    mean_doctors = doctors_df["Salary"].mean()
    mean_professors = professors_df["Salary"].mean()
    difference = mean_professors- mean_doctors
    return difference


result = dr_prof_mean_salary_diff(df)
print(result)

2635.981785063763

## 7. How many female use yahoo

   function name: females_with_yahoo()

   inputs: DataFrame

   outputs: int

In [46]:
def females_with_yahoo(df):
    female_yahoo = df[(df["Gender"] == "F") & (df["E Mail"].str.strip().str.contains("yahoo"))]
    return len(female_yahoo)


result = females_with_yahoo(df)
print(result)

69

## 8. How many Doctors use gmail

   function name: doctors_with_gmail()

   inputs: DataFrame

   outputs: int

In [35]:
def doctors_with_gmail(df):
    female_yahoo = df[(df["Gender"] == "M") & (df["E Mail"].str.strip().str.endswith("@gmail.com"))]
    return len(female_yahoo)
result = doctors_with_gmail(df)
print(result)

156

## 9. What is the password of the youngest male

   function name: youngest_male_password()

   inputs: DataFrame

   outputs: str

In [38]:
def youngest_male_password(df):
    males_df = df[df["Gender"] == "M"]

    # Find the index of the youngest male
    youngest_male_idx = males_df["Age in Yrs."].idxmin()

    # Get the password of the youngest male
    password_youngest_male = df.loc[youngest_male_idx, "Password"]
    return password_youngest_male

result = youngest_male_password(df)
print(result)

xPr\aGPTQ#v